<div class="min-h-screen bg-blue-300 flex items-center justify-center p-6">
  <div class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-4xl">
    <h2 class="text-3xl font-bold text-sky-700 mb-6 text-center">Lista de Alunos Cadastrados</h2>

    <div *ngIf="alunos.length === 0" class="text-center text-gray-600">
      Nenhum aluno cadastrado.
    </div>

    <div *ngFor="let aluno of alunos; let i = index" class="mb-6">
      <p><strong>Nome:</strong> {{ aluno.nome }}</p>
      <p><strong>Idade:</strong> {{ aluno.idade }}</p>
      <p><strong>Curso:</strong> {{ aluno.curso }}</p>
      <p><strong>Data de Início:</strong> {{ aluno.dataInicio | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Data de Término:</strong> {{ aluno.dataTermino | date: 'dd/MM/yyyy' }}</p>

      <div class="mt-2">
        <button 
          (click)="excluirAluno(i)"
          class="text-red-600 hover:underline flex items-center gap-2">
          <!--<img src="assets/icons/lixeira.png" alt="Excluir" class="w-5 h-5" />-->
          <strong>Excluir</strong>
        </button>
      </div>

      <hr class="my-4 border-gray-300" />
    </div>
  </div>
</div>
