<body>
    <h1 class="min-h-10 flex items-top justify-center bg-blue-300">
  <p class="font-bold text-center text-4xl">Formulário</p>
  </h1>

   <div class="min-h-screen bg-blue-300 flex items-center justify-center p-6">

    <div class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-md transform transition-all hover:scale-[1.01]">
      <h2 class="text-3xl font-bold text-sky-700 mb-6 text-center">Cadastre-se</h2>
      <form class="space-y-4">

        <div>
          <label class="block text-sm font-medium text-black">Nome</label>
          <input type="name" placeholder="ex: José da Silva" class="mt-1 w-full px-4 py-2 border border-gray-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-sky-400" />
        </div>

        <div>
          <label class="block text-sm font-medium text-black">Curso</label>
          <input type="course" placeholder="ex: Engenharia de Software" class="mt-1 w-full px-4 py-2 border border-gray-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-sky-400" />
        </div>

        <div>
          <label class="block text-sm font-medium text-black">Data de Início</label>
          <input type="date" placeholder="ex: 01/01" class="mt-1 w-full px-4 py-2 border border-gray-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-sky-400" />
        </div>

          <div>
          <label class="block text-sm font-medium text-black">Data de Término</label>
          <input type="date" placeholder="ex: 01/01" class="mt-1 w-full px-4 py-2 border border-gray-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-sky-400" />
        </div>

      <div>
      <button 
      (click)="mostrarMensagem()" 
      class="w-full bg-sky-600 hover:bg-sky-700 text-white py-2 rounded-xl font-semibold shadow-md transition duration-200"> Enviar </button>

      <p *ngIf="mensagem" class="mt-4 text-green-600 font-semibold">
      {{ mensagem }}
    </p>
  </div>

      </form>
    </div>
  </div>

</body>

